In [2]:
import os
import sys

sys.path.append(os.path.dirname(os.getcwd()))

In [3]:
from app.core.config import settings

In [4]:
from sqlalchemy import create_engine, inspect
from sqlalchemy.orm import Session

engine = create_engine(settings.database_url)
session = Session(engine)
table_names = inspect(engine).get_table_names()

table_names

['accounts',
 '_prisma_migrations',
 'alembic_version',
 'VerificationRequest',
 'User',
 'Account',
 'Session',
 'customers',
 'connections',
 'transaction_metadata',
 'transactions']

In [6]:
import pandas as pd

df = pd.read_sql("SELECT * FROM transactions", engine)
df

,id,duplicated,mode,status,made_on,amount,currency_code,description,category,extra_id,account_id,created_at,updated_at
0,1368566952791906711,False,normal,posted,2024-07-20,6000.00,EUR,Business ST A,pharmacy,33240,1368566952515082646,2024-09-18T18:44:30Z,2024-09-18T18:44:30Z
1,1368566952791906712,False,normal,posted,2024-07-20,175000.00,EUR,N/A,bills_and_utilities,33239,1368566952515082646,2024-09-18T18:44:30Z,2024-09-18T18:44:30Z
2,1368566952791906713,False,normal,posted,2024-07-20,17861.59,EUR,FE018654297473,home_improvement,33238,1368566952515082646,2024-09-18T18:44:30Z,2024-09-18T18:44:30Z
3,1368566952800295322,False,normal,posted,2024-07-20,173660.71,EUR,N/A,bills_and_utilities,33237,1368566952515082646,2024-09-18T18:44:30Z,2024-09-18T18:44:30Z
4,1368566952800295323,False,normal,posted,2024-07-20,-234.06,EUR,RABO BANK SCHIPHOL,transfer,33236,1368566952515082646,2024-09-18T18:44:30Z,2024-09-18T18:44:30Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1368567111428872832,False,normal,posted,2024-09-17,-211.44,EUR,ATM 888 AEROPORT BLR,transfer,34415,1368566952515082646,2024-09-18T18:44:49Z,2024-09-18T18:44:49Z
1196,1368567111437261441,False,normal,posted,2024-09-17,-86736.00,EUR,BAI Handel New York,business_services,34414,1368566952515082646,2024-09-18T18:44:49Z,2024-09-18T18:44:49Z
1197,1368567111437261442,False,normal,posted,2024-09-17,-2.75,EUR,Albert Plus 1454 Stad,groceries,34413,1368566952515082646,2024-09-18T18:44:49Z,2024-09-18T18:44:49Z
1198,1368567111437261443,False,normal,posted,2024-09-17,-57.47,EUR,BV Zakelijke Markt,bills_and_utilities,34412,1368566952515082646,2024-09-18T18:44:49Z,2024-09-18T18:44:49Z
1199,1368567111437261444,False,normal,posted,2024-09-17,1.00,EUR,Rabobank WB A,pharmacy,34411,1368566952515082646,2024-09-18T18:44:49Z,2024-09-18T18:44:49Z